
<div class ="navbar navbar-fixed-top">
    <div class ="navbar-inner">
      <div class ="container">
        <div class = "nav">
      <h3>Update Xplore  | <%= @user.username %>
      <%= image_tag(@user.avatar, :class => 'userlogin') %> 
    </h3>
		</div>
   </div>
  </div>
</div>


<%= render :partial => 'form' %>


 <footer>
   <div class ="navbar navbar-fixed-bottom">
    <div class ="navbar-inner">
      <div class ="container">
        <div class = "nav">
			   <%= link_to "Xplore feed | ", photos_path %>
			  
			   
			      <% if @current_user == @user %>
			         <%= link_to'Delete Profile |', @user, :data => {:method => :delete, :confirm => 'Really delete the Whole Profile?' } %>
			         <%= link_to('Check out other Xplorer Profile ',users_path) %>
			         <p><%= link_to('Back to search', root_path) %></p>
			    <% else %>

			   <%= link_to('Back to search', root_path) %>
			  
			    <% end %> 
        </div>      
      </div>
    </div>   
  </div>
</footer>