
<div class ="navbar navbar-fixed-top">
    <div class ="navbar-inner">
      <div class ="container">
        <div class = "nav">
          <h1>Xplorer's
          </h1>
         </div>
    </div>
  </div>
</div>


<div class="container">

        <div class="row">
            <div class="box">
               <div class="col-lg-12 text-center">
                  <div class="img-responsive img-border img-full">
                    <% @users.each do |user| %>
                      <div class="font">
                        <%= link_to(user.username, user) %>
                      </div>
                  <p> <%= image_tag(user.avatar, :class => 'xthumb') %></p>
                <hr>
  
            <footer>
             <div class ="navbar navbar-fixed-bottom">
              <div class ="navbar-inner">
                <div class ="container">
                  <div class = "nav1">
             
                    
                        <%= link_to('Add a New PHoto! |', new_photo_path) %>
                        <%= link_to('Edit your Profile |', edit_user_path(user)) %> 
                        <%= link_to('Delete your Profile |', user, :data => {:method => :delete, :confirm => 'Are You Sure to Delete the Whole Profile' }) %> 
                        <p><%= link_to('Back to search', root_path) %></p>
                   
                
                    </div>      
                  </div>
                </div>   
              </div>
            </footer>
          <% end %>
   	
    
   	


   
