- if @current_user 
	%p= image_tag @current_user.avatar, :class => 'userlogin'
	%p= link_to " Hi #{@current_user.username.upcase}", user_path(@current_user)
	= link_to 'Upload Photo |', new_photo_path(@current_user) 
	=link_to 'Xplore Feed |', photos_path 
	= link_to 'Log Out', '/login', :data => {:method => :delete, :confirm => 'Really logout?' }
- else
	%h4 LOG IN
	= form_tag '/login' do
		%p
		= label_tag 'username'
		= text_field_tag 'username', nil ,:autofucus =>true
		%p
		= label_tag 'password'
		= password_field_tag 'password'
		%p
		= submit_tag 'Login', :id =>'userdetails'
		= link_to 'Sign Up', new_user_path

