<h1 ><%= link_to(@photo.user.username, @photo.user) if @photo.user %></h1>	


		<%= image_tag(@photo.user.avatar_url, :class => 'thumb') if @photo.user %>
		<hr>
<h3> New Photo Added </h3>
		<%= image_tag(@photo.image_url, :class => 'thumb') if @photo.user %>
        
<% if @photo.user == @current_user %>

		<%= link_to'Edit photo |', edit_photo_path %>
		<%= link_to'Delete photo |', @photo, :data => {:method => :delete, :confirm => 'Really delete this PHOto?' } %>

		<%= link_to(' Add Photo', new_photo_path) %>
	<% end %>

		<p><%= link_to " check out Xplore feed", photos_path %></p> 
		<p><%= link_to('Back to search', root_path) %></p>

	 

  